/**
*
* COMMON
* Peduarte.com
* @author Pedro Duarte
*
**/

* {
	@include prefixr(box-sizing, border-box);
}

body {
	font-family: $font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background: $color-background;
	color: $color-primary;
	text-align: left;
	-webkit-font-smoothing: antialiased;


	@include media-query(mobile) {
		font-size: 12px;
		text-align: center;
	}
}

hgroup {
	display: inline-block;
	background: darken($color-primary, 15%);
	padding: $bleed 0 $bleed $bleed;
	width: 100%;

	@include media-query(mobile) {
		padding-left: $bleedSmall;
		padding-right: $bleedSmall;
	}
}

h2, h3, strong {
	font-weight: normal;
}

h1 {
	font-family: $font;
	font-size: em(100px);
	font-weight: bold;
	line-height: em(100px, 100px);
	letter-spacing: -2px;
	text-transform: uppercase;
	color: darken($color-background, 4%);
}

h2 {
	font-size: em(28px);
	line-height: em(20px, 18px);

	@include media-query(mobile) {
		font-size: em(22px, 12px);
	}

}

h3 {
	font-family: $font;
	font-style: italic;
	text-transform: uppercase;
	color: $color-highlight;
	margin-bottom: em(16px);
}

a {
	color: $color-highlight;
	text-decoration: none;

	li & {
		color: $color-primary;
	}
}

ul {
	margin-bottom: em(50px);
}

li {
	font-size: em(60px);
	letter-spacing: -2px;
	text-transform: uppercase;
	border-bottom: 1px solid darken($color-background, 4%);

	& a {
		line-height: em(50px, 60px);
		padding: em(15px) 0 em(15px) $bleed;
		display: block;
		letter-spacing: 5px;
		font-weight: 100;

		@include prefixr(transition, all 800ms $ease-out-expo);

		&:hover {
			background-color: darken($color-background, 4%);
		}

		@include media-query(mobile) {
			padding-left: $bleedSmall;
			padding-right: $bleedSmall;
		}
	}
}

.contact {
	padding: 0 0 em(50px) $bleed;

	@include media-query(mobile) {
		padding-left: $bleedSmall;
		padding-right: $bleedSmall;
		font-size: em(20px, 12px);
	}
}

.rga {
	color: $color-rga;
}

.twitter {
	color: $color-twitter;
}