/**
*
* UTILS
* Peduarte.com
* @author Pedro Duarte
*
**/

/*=================================
=            VARIABLES            =
=================================*/

	$font: 'futura-pt', 'Helvetica Neue', Arial, sans-serif;
	$base-font-size: 22px!default;
	$base-line-height: 32px!default;
	$bold: 700;

	$color-background: #E6E3DB;
	$color-primary: #463F39;
	$color-rga: #e5193c;
	$color-twitter: #3CF;

	$bleed: 7%;
	$bleedSmall: 1%;

	$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

	/*-----  Responsive  ------*/
    $lap-start: 620px!default;
    $desk-start: 1024px!default;


/*=================================
=            FUNCTIONS            =
=================================*/

	@function em($px, $base: $base-font-size) {
	    @return ($px / $base) * 1em;
	}




/*==============================
=            MIXINS            =
==============================*/

	@mixin prefixr($property, $value...){
	    -webkit-#{$property}: $value;
	       -moz-#{$property}: $value;
	        -ms-#{$property}: $value;
	         -o-#{$property}: $value;
	            #{$property}: $value;
	}

	@mixin media-query($media-query) {
        @if $media-query == mobile {
            @media only screen and (max-width:$lap-start) { @content; }
        }

        @if $media-query == desk {
            @media only screen and (min-width:$desk-start) { @content; }
        }
    }

	@mixin keyframe ($animation-name){
	    @-webkit-keyframes $animation-name{
	        @content;
	    }

	    @-moz-keyframes $animation-name{
	        @content;
	    }

	    @-ms-keyframes $animation-name{
	        @content;
	    }

	    @-o-keyframes $animation-name{
	        @content;
	    }

	    @keyframes $animation-name{
	        @content;
	    }
	}