/**
*
* STYLE
* Peduarte.com
* @author Pedro Duarte
*
**/
/**
*
* UTILS
* Peduarte.com
* @author Pedro Duarte
*
**/
/*=================================
=            VARIABLES            =
=================================*/
/*-----  Responsive  ------*/
/*=================================
=            FUNCTIONS            =
=================================*/
/*==============================
=            MIXINS            =
==============================*/
/**************************************************
	RESET
**************************************************/
/* line 12, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 23, sass/_reset.scss */
:focus {
  /* remember to define focus styles! */
  outline: 0; }

/* line 26, sass/_reset.scss */
body {
  background: #fff;
  line-height: 1; }

/* line 30, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 33, sass/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 37, sass/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 42, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 45, sass/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 48, sass/_reset.scss */
a img {
  border: 0; }

/* line 52, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Clearfix */
/* line 57, sass/_reset.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 66, sass/_reset.scss */
.clearfix {
  display: inline-block; }

/* line 70, sass/_reset.scss */
html[xmlns] .clearfix {
  display: block; }

/* line 74, sass/_reset.scss */
* html .clearfix {
  height: 1%; }

/**
*
* COMMON
* Peduarte.com
* @author Pedro Duarte
*
**/
/* line 9, sass/_common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* line 13, sass/_common.scss */
body {
  font-family: "futura-pt", "Helvetica Neue", Arial, sans-serif;
  font-size: 22px;
  line-height: 32px;
  background: #e6e3db;
  color: #463f39;
  text-align: left;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 620px) {
    /* line 13, sass/_common.scss */
    body {
      font-size: 10px;
      text-align: center; } }

/* line 29, sass/_common.scss */
hgroup {
  display: inline-block;
  background: #1c1917;
  padding: 7% 0 7% 7%;
  width: 100%; }
  @media only screen and (max-width: 620px) {
    /* line 29, sass/_common.scss */
    hgroup {
      padding-left: 0%;
      padding-right: 0%; } }

/* line 41, sass/_common.scss */
h2, h3, strong {
  font-weight: normal; }

/* line 45, sass/_common.scss */
h1 {
  font-family: "futura-pt", "Helvetica Neue", Arial, sans-serif;
  font-size: 4.54545em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #dedacf; }

/* line 55, sass/_common.scss */
h2 {
  font-size: 1.27273em;
  line-height: 1.11111em; }
  @media only screen and (max-width: 620px) {
    /* line 55, sass/_common.scss */
    h2 {
      font-size: 1.83333em;
      color: #8c7e72; } }

/* line 66, sass/_common.scss */
a {
  color: #463f39;
  text-decoration: none;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1); }
  /* line 71, sass/_common.scss */
  a:hover {
    color: #1c1917; }

/* line 76, sass/_common.scss */
ul {
  margin-bottom: 2.27273em; }

/* line 80, sass/_common.scss */
li {
  font-size: 2.72727em;
  letter-spacing: -2px;
  text-transform: uppercase;
  border-bottom: 1px solid #dedacf;
  letter-spacing: 5px;
  font-weight: 100;
  line-height: 0.83333em; }
  /* line 89, sass/_common.scss */
  li.no-link {
    padding: 0.68182em 0 0.68182em 7%;
    position: relative;
    overflow: hidden; }
    /* line 94, sass/_common.scss */
    li.no-link span {
      font-size: 0.46667em;
      line-height: 4.71429em;
      background: #463f39;
      color: #e6e3db;
      padding-left: 7%;
      letter-spacing: 1px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      opacity: 0;
      -webkit-transition: all 600ms 0 cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 600ms 0 cubic-bezier(0.19, 1, 0.22, 1);
      -ms-transition: all 600ms 0 cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 600ms 0 cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 600ms 0 cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: translate3d(0, -3.63636em, 0);
      -moz-transform: translate3d(0, -3.63636em, 0);
      -ms-transform: translate3d(0, -3.63636em, 0);
      -o-transform: translate3d(0, -3.63636em, 0);
      transform: translate3d(0, -3.63636em, 0); }
      @media only screen and (max-width: 620px) {
        /* line 94, sass/_common.scss */
        li.no-link span {
          padding-left: 0;
          position: static;
          color: #a3988e;
          font-size: 0.42857em;
          line-height: 0.71429em;
          opacity: 1;
          display: block;
          background: none;
          padding-top: 0.90909em;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); } }
    /* line 125, sass/_common.scss */
    li.no-link:hover span {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 200ms;
      -moz-transition-delay: 200ms;
      -ms-transition-delay: 200ms;
      -o-transition-delay: 200ms;
      transition-delay: 200ms; }
    @media only screen and (max-width: 620px) {
      /* line 89, sass/_common.scss */
      li.no-link {
        padding-left: 0; } }
  /* line 136, sass/_common.scss */
  li a {
    padding: 0.68182em 0 0.68182em 7%;
    display: block; }
    /* line 140, sass/_common.scss */
    li a:hover {
      color: #463f39;
      background-color: #dedacf; }
    @media only screen and (max-width: 620px) {
      /* line 136, sass/_common.scss */
      li a {
        padding-left: 0%;
        padding-right: 0%; } }

/* line 152, sass/_common.scss */
.contact {
  padding: 0 0 2.27273em 7%; }
  @media only screen and (max-width: 620px) {
    /* line 152, sass/_common.scss */
    .contact {
      padding-left: 0%;
      padding-right: 0%;
      font-size: 1.66667em; } }

/* line 162, sass/_common.scss */
.rga {
  color: #e5193c; }
  /* line 165, sass/_common.scss */
  .rga:hover {
    color: #a0112a; }

/* line 170, sass/_common.scss */
.twitter {
  color: #33ccff; }
  /* line 173, sass/_common.scss */
  .twitter:hover {
    color: #00ace6; }
