extends layout

block content

  .cv
    .content
      h1 Curriculum Vitae

      section
        .heading
          h2 Pedro Duarte

        .info
          .subheading
            h3 26/M/London

          .copy
            p I am a front end developer with over 8 years experience.  I specialise in progressive enhacement development and I care deeply about user experience and design.


      section
        .heading
          h2 Career History

        .info
          .career
            .subheading
              h3 Fluxx
              p Senior front end developer & Prototype Developer<br>Jan 2015 - Feb 2015

            .copy
              p I was taken oboard to help facilitate the onboarding proccess for new business clients of Lloyds Bank. I was responsible for the user experience, UI design and development. My task was to implement a better UI/UX and use front end technologies to help the sign up process become much easier and faster for the users.

          .career
            .subheading
              h3 Stinkdigital
              p Senior front end developer<br> Aug 2014 - Dec 2014

            .copy
              p I was responsible for the front end architecture of the new <a href="http://warp.net" title="Warp Records">Warp Records</a> website, making sure the website is fully responsive, accessible, optimised and scalable. I focused on building a clean, re-usable and well documented framework so any future developers will have no problem picking it up if they need to.

              p Selected technologies
              ul.cv-tags
                li Gulp
                li Rework &amp; Stylus
                li Django
                li Backbone.js

          .career
            .subheading
              h3 R/GA
              p Open standards developer<br> Oct 2011 - Aug 2014

            .copy
              p Durign my time at R/GA, I worked on a large variety of their clients. I built simple static sites using tools such as <strong>Jekyll</strong> to scalable object-oriented platforms using frameworks such as <strong>AngularJS</strong>. I have also architectured and delivered detailed <strong>styleguides</strong> to clients, the latest one was for Google, where I led the front end development. Here's a <a href="https://developers.google.com/web/fundamentals/resources/styleguide/" title="Web Fundamentals Styelguide">link to the styleguide</a>.

              p Selected clients
              ul.cv-tags
                li <a href="http://developers.google.com/web/fundamentals" target="_blank" title="Google - Web Fundamentals">Google</a>
                li <a href="http://openyourcity.heineken.com/" target="_blank" title="Heineken - Open Your City">Heineken</a>
                li <a href="http://beatsbydre.com" target="_blank" title="Beats By Dre">Beats By Dre</a>
                li <a href="https://www.youtube.com/user/TheO2London/TakeYourPlace" target="_blank" title="O2 - Take Your Place">O2</a>
                li <a href="http://www.astonmartin.com/" target="_blank" title="Aston Martin">Aston Martin</a>

          .career
            .subheading
              h3 Pod1
              p Front end developer<br> May 2010 - Sep 2011

            .copy
              p Being at Pod1 challenged my ability to be creative while dealing with all the constraints of the web platform and the client's brand. I am mainly working on fashion e-commerce websites powered by Magento and WordPress CMS websites. I have developed a better understanding of web design and digital thinking, as well as the opportunity to work alongside other creatives, the UX team, project managers and developersensuring that all projects are of the highest standards throughout.

              p Selected clients
              ul.cv-tags
                li <a href="http://www.amandawakeley.com" target="_blank" title="Amanda Wakeley">Amanda Wakeley</a>
                li <a href="http://www.harveynichols.com" target="_blank" title="Harvey Nichols">Harvey Nichols</a>
                li <a href="http://www.gievesandhawkes.com" target="_blank" title="Gieves & Hawkes">Gieves & Hawkes</a>
                li <a href="http://www.linksoflondon.com" target="_blank" title="Links of London">Links of London</a>
                li <a href="http://www.matthewwilliamson.com" target="_blank" title="Matthew Williamson">Matthew Williamson</a>

          .career
            .subheading
              h3 Lighthouse Media Group
              p Designer, Front end developer, Analytics<br> Jan 2008 – Oct 2009

            .copy
              p Working at Lighthouse Media Group broadened my knowledge in various departments, from web design to development which required skills in Adobe Photoshop, XHTML, CSS, jQuery, WordPress and multiple e-commerce platforms.


      section
        .heading
          h2 Proficiencies

        .info
          .carreer
            .subheading
              h3 General Development

            .copy
              ul.cv-inline
                li Performance analysis & optimisation
                li Responsive development
                li CSS3 transitions and animations
                li JSON & REST
                li GIT, Mercurial, SVN
                li Agile methodologies

          .career
            .subheading
              h3 HTML

            .copy
              ul.cv-inline
                li Clean and semantic
                li Progressive enhancement
                li Web standards & accessibility

          .career
            .subheading
              h3 CSS

            .copy
              ul.cv-inline
                li Scalable CSS
                li Methodologies & conventions (BEM, OOCSS, SMACSS or SuitCSS)
                li Sass, Less, Stylus

          .career
            .subheading
              h3 Javascript

            .copy
              ul.cv-inline
                li VanillaJS
                li JavaScript libraries
                li MVC libraries and frameworks such as AngularJS
                li HTML5's APIs and polyfills


          .career
            .subheading
              h3 Workflow

            .copy
              ul.cv-inline
                li Bower
                li RequireJS, Browserfy
                li Gulp, Grunt



          .career
            .subheading
              h3 Collaboration

            .copy
              ul
                li Thought leading on code quality, as well as performance
                li Collaborating very closely with all disciplines (Design, UX) to produce the best experience possible
                li Pitching, demoing to clients
                li Interviewing/team-building experience


      section
        .heading
          h2 Education

        .info
          .subheading
            h3 Norwich City College

          .copy
            p BTEC National Diploma IT Practitioners, Norwich, England 2007
            p Information and Communication Technology, Norwich, England 2006

      section
        .heading
          h2 Misc

        .info
          .career
            .subheading
              h3 Get in touch

            .copy
              p You can email me at <a href="mailto:contact@peduarte.com">contact[at]peduarte.com</a> or call me on +44 (0)7912 950 992

          .career
            .subheading
              h3 Links

            .copy
              ul.cv-inline
                li <a href="http://www.pedroduarte.me" title="Portfolio">Portfolio</a>
                li <a href="http://www.github.com/peduarte" title="Github Profile">GitHub</a>
                li <a href="http://uk.linkedin.com/in/peduarteltd" title="LinkedIn Profile">LinkedIn</a>
