extends layout

block content

  .page
    .content
      h1 Pedro Duarte — Front End Developer

      h2 Contact


      ul
        li <strong>Email</strong>: <a href="mailto:contact@peduarte.com">contact@peduarte.com</a>
        li <strong>Location</strong>: London N7, UK
        li <strong>Mobile</strong>: +44 (0)7912 950 992
        li <strong>Websites</strong>:
          ul
            li Portfolio: <a href="http://www.pedroduarte.me" title="Portfolio">pedroduarte.me</a>
            li Github profile: <a href="http://www.github.com/peduarte" title="Github Profile">github.com/peduarte</a>
            li LinkedIn profile: <a href="http://uk.linkedin.com/in/peduarteltd" title="LinkedIn Profile">linkedin.com/in/peduarteltd</a>
        li Brazilian, 25 years old



      h2 Profile

      p I've always loved the web. I learnt HTML when I was 12 and built a very <abbr title="noun: red colour or pigment.">red</abbr> website about myself. It was hosted on Geocities.

      p I was born in Brazil and at the age of 13 (2002), me and my family moved to England. In 2005, I picked up web development again, and by then things had changed slightly. There was this new thing called CSS that I had never heard of.

      p I then started freelancing and building websites for family, friends and small businesses. I quickly became extremely passionate about design and user experience.

      p Now I'm currently <strong>freelancing</strong>. Previously, I was working for one of the top advertising agencies in the world, R/GA, where I built websites and web apps for multi-million pound companies.

      p I take a lot of pride in my work and I am always eager to improve and learn new technologies. I am a great team player and collaborator with design/ux teams.
      p My ideal way of working is by developing <strong>prototypes</strong> as proof of concept and building <strong>styleguides</strong> in order to keep track of all the modules and make sure the styles are consistent.



      h2 Career History

      h3 Fluxx » Senior front end developer and Prototype Developer (Jan 2015 - Feb 2015)

      p I was taken oboard to help facilitate the onboarding proccess for new business clients of Lloyds Bank. I was responsible for the user experience, UI design and development. My task was to implement a better UI/UX and use front end technologies to help the sign up process become much easier and faster for the users.



      h3 Stinkdigital » Senior front end developer (August 2014 - December 2014)

      p I was responsible for the front end architecture of the project, making sure the website is fully responsive, accessible, optimised and scalable. I am focusing on building a clean, re-usable and well documented framework so any future developers will have no problem picking it up if they need to.

      p Technologies:
      ul
        li Gulp
        li Rework &amp; Stylus
        li Django
        li Backbone.js




      h3 R/GA » Open standards developer (October 2011 - August 2014)

      p I started at R/GA as a Presentation Code Developer. but quickly got promoted to Open Standards Developer.

      p As I'm sure you know, R/GA is a brilliant agency to work for. Their client list is incredible. And I've had the pleasure of working for a lot of them. Being part of amazing projects of all different sorts.

      p I've built simple static sites using tools such as <strong>Jekyll</strong> to scalable object-oriented platforms using frameworks such as <strong>AngularJS</strong>.
      p I have also architectured and delivered detailed <strong>styleguides</strong> to clients, the latest one was for Google, where I led the front end development. The whole front end follows a strict set of rules created in CSS using Sass. Here's a <a href="https://developers.google.com/web/fundamentals/resources/styleguide/" title="Web Fundamentals Styelguide">link to the styleguide</a>.

      p Here's a list of some of the clients I've worked on:
      ul
        li <a href="http://www.google.com/worldcup" target="_blank" title="Google - World Cup">Google - World Cup</a>
        li <a href="http://developers.google.com/web/fundamentals" target="_blank" title="Google - Web Fundamentals">Google - Web Fundamentals</a>
        li <a href="http://openyourcity.heineken.com/" target="_blank" title="Heineken - Open Your City">Heineken - Open Your City</a>
        li <a href="https://www.the-sub.com" target="_blank" title="Heineken - The Sub">Heineken - The Sub</a>
        li <a href="http://www.astonmartin.com/" target="_blank" title="Aston Martin">Aston Martin</a>
        li <a href="http://beatsbydre.com" target="_blank" title="Beats By Dre">Beats By Dre</a>
        li <a href="http://vimeo.com/47080307" target="_blank" title="JD Sports">JD Sports</a>
        li <a href="https://www.youtube.com/user/TheO2London/TakeYourPlace" target="_blank" title="O2 - Take Your Place">O2 - Take Your Place</a>




      h3 Pod1 » Front end developer (May 2010 - September 2011)

      p Being at Pod1 challenged my ability to be creative while dealing with all the constraints of the web platform and the client’s brand. I am mainly working on fashion e-commerce websites powered by Magento and WordPress CMS websites. My responsibilities for the websites were to hand code using HTML(5), CSS(3), jQuery, Prototype and either Magento or WordPress. I have developed a better understanding of web design and digital thinking, as well as the opportunity to work alongside other creatives, the UX team, project managers and developersensuring that all projects are of the highest standards throughout. I have received three awards from Pod1.

      p Here's a list of some of the clients I've worked on:
      ul
        li <a href="http://www.amandawakeley.com" target="_blank" title="Amanda Wakeley">Amanda Wakeley</a>
        li <a href="http://www.harveynichols.com" target="_blank" title="Harvey Nichols">Harvey Nichols</a>
        li <a href="http://www.gievesandhawkes.com" target="_blank" title="Gieves & Hawkes">Gieves & Hawkes</a>
        li <a href="http://www.linksoflondon.com" target="_blank" title="Links of London">Links of London</a>
        li <a href="http://www.matthewwilliamson.com" target="_blank" title="Matthew Williamson">Matthew Williamson</a>



      h3 Lighthouse Media Group » Designer, Front end developer, Analytics (January 2008 – October 2009)

      p Working at Lighthouse Media Group broadened my knowledge in various departments, from web design to development which required skills in Adobe Photoshop, XHTML, CSS, jQuery, WordPress and multiple e-commerce platforms.

      p Being part of the advertising team, my tasks were to identify the best converting advertising banner, landing pages and sales pages based on a number of impressions and click through rates, market research using CPA Networks such as Hydra and CPA Empire and m aintenance of adverts using Ad Servers such as Zedo and Ad Juggler.


      h3 Peduarte » Senior Front end developer (April 2005 – Current)

      p Design and implement cross browser compatible websites using HTML(5), CSS(3), jQuery and PHP. Working to tight deadlines, on multiple projects and different content topics. Ensuring client and visitor satisfaction, by designing fast loading and aesthetic websites.

      p Ability to take clients ideas and implement them (to their satisfaction) using my own creative approach.


      h2 Skills

      h3 Technical skills

      ul
        li General:
          ul
            li Developing fast websites, with very good knowledge of performance analysis and optimisation
            li Implementing responsive web techniques for a true universal experience
            li Creating rich experiences using <strong>CSS3</strong> transitions and animations, as well as <strong>SVG</strong> (<a href="http://raphaeljs.com/">RaphaëlJS</a>)
            li Working with <strong>JSON</strong> and <strong>REST</strong>
            li Working with <strong>source control</strong> (<a href="http://git-scm.com/">GIT</a>, <a href="http://mercurial.selenic.com/">Mercurial</a>, <a href="http://subversion.tigris.org/">SVN</a>) as well as <strong>Agile</strong> methodologies


        li HTML:
          ul
            li Writing clean and clear semantic <strong>HTML</strong> markup
            li Using progressive enhancement as a solid foundation to build upon
            li Caring about web standards and accessibility


        li CSS:
          ul
            li Writing large and advanced <strong>CSS</strong> architectures built with scalability in mind
            li Using methodologies and conventions such as <a href="http://bem.info/">BEM</a>, <a href="http://oocss.org/">OOCSS</a>, <a href="http://smacss.com/">SMACSS</a>
            li Making the best out of preprocessors such as <a href="http://sass-lang.com/">Sass</a>
            li Strong knowledge of browser &amp; device capabilities


        li JavaScript:
          ul
            li Writing raw, event-driven and scalable <strong>JavaScript</strong>
            li In-depth knowledge of JavaScript libraries
            li Using MVC libraries and frameworks such as <a href="http://angularjs.org/">AngularJS</a>
            li Thorough knowledge of <strong>HTML5</strong>'s APIs and polyfills where appropriate


        li Workflow:
          ul
            li Front-end dependency management using tools like <a href="http://bower.io/">Bower</a>
            li Caring about flexibility, reusability and scalability, using script and file loading libraries such as <a href="http://requirejs.org/">RequireJS</a>
            li Building front-end automation workflows using <a href="http://gruntjs.com/">Grunt</a>




      h3 Collaboration

      ul
        li Thought leading on code quality, as well as performance
        li Collaborating very closely with all disciplines (Design, UX) to produce the best experience possible
        li Pitching, demoing to clients
        li Interviewing/team-building experience



      h3 Languages

      ul
        li <strong>Portuguese</strong>: mother tongue
        li <strong>English</strong>: fluent
        li <strong>Spanish</strong>: spoken



      h2 Education
      h3 BTEC National Diploma IT Practitioners » Norwich, England (2007)
      h3 Information and Communication Technology » Norwich, England (2006)



      h2 References

      p Available on request, you can also view my <a href="http://uk.linkedin.com/in/peduarteltd">LinkedIn profile</a>.





