extends layout

block content

  header.Header
    .Header-content
      h1.Header-title Pedro Duarte
      p.Header-subtitle Front End Developer
      p.Header-intro  I am a london based freelance front end and prototype developer.

  main

      ul.Projects
        each project, index in records.projects
          li.Project-item
            a(href=project.link targer="_blank" class="Project-link")
              h3.Project-client= project.client
              p.Project-name= project.name



