doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    <script src="//use.typekit.net/jtf6ihz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Oswald:700' rel='stylesheet' type='text/css'>
    != css()

  body.debug-
    block content

    != js()
