/**
*
* COMMON
* Pedroduarte.me
* @author Pedro Duarte
*
**/

* {
	@include prefixr(box-sizing, border-box);
}

body {
	font-family: $font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background: $color-background;
	color: $color-primary;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-webkit-animation: showBody 1200ms 400ms $ease-out-expo both;


	@include media-query(mobile) {
		font-size: 10px;
		line-height: $base-line-height - 10;
		text-align: center;
	}
}

@-webkit-keyframes showBody {
	from {opacity: 0;}
	to { opacity: 1; }
}

header {
	display: inline-block;
	background: darken($color-primary, 15%);
	padding: ($bleed - 2) 0 ($bleed - 2) $bleed;
	width: 100%;

	@include media-query(mobile) {
		padding-left: $bleedSmall;
		padding-right: $bleedSmall;
	}
}

h2, h3, strong {
	font-weight: normal;
}

h1 {
	font-family: $font;
	font-size: em(100px);
	font-weight: bold;
	line-height: em(100px, 100px);
	letter-spacing: -2px;
	text-transform: uppercase;
	color: darken($color-background, 4%);
}

h2 {
	font-size: em(28px);
	line-height: em(20px, 18px);
	color: lighten($color-primary, 25%);

	@include media-query(mobile) {
		font-size: em(22px, 12px);
	}
}

h3 {
  font-size: em(22px);
  color: lighten($color-primary, 25%);

  @include media-query(mobile) {
    font-size: em(22px, 12px);
  }
}

a {
	color: $color-primary;
	text-decoration: none;
	@include prefixr(transition, all 800ms $ease-out-expo);

	&:hover {
		color: darken($color-primary, 15%);
	}
}

ul {
	margin-bottom: em(50px);
}

li {
	font-size: em(60px);
	letter-spacing: -2px;
	text-transform: uppercase;
	border-bottom: 1px solid darken($color-background, 4%);
	letter-spacing: 5px;
	font-weight: 100;
	line-height: em(50px, 60px);

	@include media-query(mobile) {
		letter-spacing: 1px;
	}

	&.no-link {
		padding: em(15px) 0 em(15px) $bleed;
		position: relative;
		overflow: hidden;

		span {
			font-size: em(28px, 60px);
			line-height: em(132px, 28px);
			background: $color-primary;
			color: $color-background;
			padding-left: $bleed;
			letter-spacing: 1px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			bottom: 0;
			opacity: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

			@include prefixr(transition, all 600ms 0 $ease-out-expo);
			@include prefixr(transform, translate3d(0, em(-80px), 0));

			@include media-query(mobile) {
				padding-left: 0;
				position: static;
				color: lighten($color-primary, 35%);
				font-size: em(12px, 28px);
				line-height: em(20px, 28px);
				opacity: 1;
				display: block;
				background: none;
				padding-top: em(20px);
				@include prefixr(transform, translate3d(0, 0, 0));
			}
		}

		&:hover span {
			opacity: 1;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

			@include prefixr(transform, translate3d(0, 0, 0));
			@include prefixr(transition-delay, 200ms);
		}

		@include media-query(mobile) {
			padding-left: 0;
		}
	}

	& a {
		padding: em(15px) 0 em(15px) $bleed;
		display: block;

		&:hover {
			color: $color-primary;
			background-color: darken($color-background, 4%);
		}

		@include media-query(mobile) {
			padding-left: $bleedSmall;
			padding-right: $bleedSmall;
		}
	}
}

.contact {
	padding: 0 0 em(50px) $bleed;

	@include media-query(mobile) {
		padding-left: $bleedSmall + 10%;
		padding-right: $bleedSmall + 10%;
		font-size: em(20px, 12px);

	}
}

.rga {
	color: $color-rga;

	&:hover {
		color: darken($color-rga, 15%);
	}
}

.stink {
  color: $color-stink;

  &:hover {
    color: darken($color-stink, 15%);
  }
}

.fluxx {
  color: $color-fluxx;

  &:hover {
    color: darken($color-fluxx, 15%);
  }
}

.twitter {
  color: $color-twitter;

  &:hover {
    color: darken($color-twitter, 15%);
  }
}

.linkedin {
	color: $color-linkedin;

	&:hover {
		color: darken($color-linkedin, 15%);
	}
}

.github {
  color: $color-github;

  &:hover {
    color: darken($color-github, 15%);
  }
}
