* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 26px;
  font-smoothing: antialiased;
  background: $colorYellow;
  color: $colorBlack;

  {baseline-grid};
}


a {
  color: $colorBlack;
  text-decoration: none;
  font-weight: 700;
}


main {
  background: $colorBlack;
  transition: background-color 600ms linear;
  position: relative;
  overflow: hidden;

  &,
  a {
    color: $colorWhite;
  }

  +above(5) {
    transform: translate3d(-100%, 0, 0);
    animation: slideMain 1400ms 600ms forwards cubic-bezier(0.77, 0, 0.175, 1);
  }
}


.GridToggler {
  background: transparent;
  text-indent: -9999em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: ($lineHeight/2);
  appearance: none;
  outline: none;
  border: none;
  overflow: hidden;
  box-sizing: content-box;
  transition: width 350ms ease-out;
  cursor: pointer;

  span {
    height: 1px;
    width: 100%;
    display: block;
    background: rgba($colorBlack, .2);
    margin: 2px 0;
    transition: background 350ms ease-out;

    .debug & {
      background-color: $colorBlack;
    }
  }

  .debug &,
  &:hover {
    width: $lineHeight*2;
  }

}

.page {
  padding: $lineHeight;
  background-color: $colorWhite;

  .content {
    max-width: 960px;
    margin: 0 auto;
  }

  h1 {
    type--large();
  }

  h2 {
    type--medium();
    border-top: 1px solid $colorBlack;
    margin-top: $lineHeight;
  }

  h3 {

  }

  ul {
    list-style: inside;
    padding-top: 0;
    ul {
      padding-left: $lineHeight;
    }
  }
}
