* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 26px;
  font-smoothing: antialiased;
  background: $colorYellow;
  color: $colorBlack;
  height: 100%;

  {baseline-grid};
}


a {
  color: $colorBlack;
  text-decoration: none;
  font-weight: 700;
}


main {
  background: $colorBlack;
  transition: background-color 600ms linear;

  &,
  a {
    color: $colorWhite;
  }

  +above(5) {
    .no-js & {
      margin-left: 50%;
    }

    .cssanimations & {
      margin-left: 0;
      transform: translate3d(calc(-100% - 100px), 0, 0);
      animation: slideMain 1400ms 600ms forwards cubic-bezier(0.77, 0, 0.175, 1);
    }
  }

}
