* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
  font-smoothing: antialiased;

  {baseline-grid};
}


a {
  color: $colorBlack;
  text-decoration: none;
  font-weight: 700;
}


main {
  background: $colorYellow;
  transition: background-color 600ms linear;

  body:not(.debug) &{
    opacity: 0;
    animation: fadeIn 2000ms $animationDelayMain ease-in-out forwards;
  }

  +above(5) {
    padding-top: $lineHeight;
    margin-left: 50%;
  }
}
