.Header {
  padding: $lineHeight $lineHeight $lineHeight*2;

  +above(3) {
    padding: $lineHeight $lineHeight*2 $lineHeight*2;
  }

  +above(4) {
    padding: $lineHeight*2 $lineHeight*3 $lineHeight*3;
  }

  +above(5) {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;

    .cssanimations & {
      opacity: 0;
      animation: showCopy 0ms 1400ms linear forwards;
    }
  }
}


.Header-content {
  +above(5) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 475px;
    margin-right: $lineHeight*2;
  }
}

.Header-title {
  position: relative;
  padding-bottom: $lineHeight;
  margin-bottom: $lineHeight;
  text-transform: uppercase;

  &:after {
    content: "";
    width: 100%;
    max-width: $lineHeight * 4;
    height: 10px;
    background: $colorBlack;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.Header-subtitle {
  font-weight: 700;

  +above(5) {
    .cssanimations & {
      opacity: 0;
      animation: fadeIn 800ms 500ms ease-in-out forwards;
    }
  }
}

.Header-intro {
  padding: 0;
  margin-bottom: $lineHeight;

  +above(5) {
    .cssanimations & {
      opacity: 0;
      animation: fadeIn 800ms 550ms ease-in-out forwards;
    }
  }
}
