@keyframes fadeIn {
  0% {
    transform: translateY(-6px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes expandBar {
  100% {
    height: 100%;
  }
}

@keyframes slideMain {
  100% {
    width: 50%;
  }
}

@keyframes showProjects {
  0% {
    transform: translateX(-12px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
