@keyframes fadeIn {
  0% {
    transform: translateY(-6px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showCopy {
  100% {
    opacity: 1;
  }
}

@keyframes expandBar {
  100% {
    height: 100%;
  }
}

@keyframes slideMain {
  10% {
    margin-left: 0;
  }
  100% {
    margin-left: 50%;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showProjects {
  100% {
    opacity: 1;
  }
}
