.Tags {
	list-style: none;
	padding: 0;
	font-size: $fontSmall;
	font-style: italic;
	text-align: right;

  position: absolute;
  right: 0;
  bottom: $lineHeight;

  display: none;

  +above(3) {
    display: block;
  }
}

.Tag {
	display: inline-block;

	&:after { content: ",\00a0"; }
	&:last-child:after { content: "" }
}
