@import '_settings'
@import '_typography'

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */

  font-smoothing: antialiased;

  {baseline-grid};
}


header {
	padding: $lineHeight $lineHeight $lineHeight*2;

	+above(3) {
		padding: $lineHeight $lineHeight*2 $lineHeight*2;
	}

	+above(4) {
		padding: $lineHeight*2 $lineHeight*3 $lineHeight*3;
	}

	+above(5) {
		padding-top: 0;
		padding-bottom: 0;
		position: fixed;
		height: 100%;
		width: 50%;
		top: 0;
		bottom: 0;
	}
}


.Header-content {
	+above(5) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}


main {
	background: $colorYellow;
	padding: 0 $lineHeight;

	+above(3) {
		padding: $lineHeight*2;
	}

	+above(4) {
		padding: 0 $lineHeight*3;

	}

	+above(5) {
		margin-left: 50%;
	}

	&,
	a {
		// color: $colorWhite;
	}


}

.Projects {
	list-style: none;
	padding: 0;
}

.Project-item {
	&:last-child .Project-link {
		border-width: 0;
	}
}

.Project-link {
	display: block;
	border-bottom: 1px solid $colorBlack;
	padding: $lineHeight 0 ($lineHeight - 1);
}

.Project-client {
	text-transform: uppercase;
	type--large(false); // set false to stop resizing on media queries
	padding: 0;
}

.Project-name {
	padding: 0;
	display: inline-block;
}

.Tags {
	list-style: none;
	padding: 0;
	display: inline-block;
	font-size: $fontSmall;
	text-align: right;
	float: right;

	// dot
	&:before {
		content: "/ ";
	}
}

.Tag {
	display: inline-block;
	font-style: italic;

	// &:after {
	// 	content: ", "
	// }

	// &:last-child:after {
	// 	content: ""
	// }
}
