extends layout

block content

  header
    .Header-content
      h1 Pedro Duarte
      h2 Front End Developer
      p  I am a london based freelance front end and prototype developer.

  main
      ul.Projects
        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
            ul.Tags
              li.Tag AngularJS

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
            ul.Tags
              li.Tag AngularJS

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
            ul.Tags
              li.Tag AngularJS

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
            ul.Tags
              li.Tag AngularJS

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
            ul.Tags
              li.Tag AngularJS

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
            ul.Tags
              li.Tag AngularJS

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals

        li.Project-item
          a.Project-link
            h3.Project-client Google
            p.Project-name Web Fundamentals
